{% extends "base.html" %}
{% block title %}
  Страница моих блогов
{% endblock %}

{% block body %}
    {% if user_id %}
        <h2>You are logged in :)</h2>
        {% include "top_menu_index.html" %}
        <div>
          <p>Сейчас всего у меня блогов - {{ total_count }}, всего лайков - {{ likes_all }}</p>

        </div>
        <div>
          <ul>
          {% for post in posts %}
            <li>
                <p>Блог - {{ post.posts }} создан - {{ post.dt_created }}
                    <a href="/myblog/edit/{{user_id}}/{{post.id}}/">Редактировать</a>
                    <a href="/myblog/delete/{{user_id}}/{{post.id}}/">Удалить</a>
                </p>

            </li>
          {% endfor %}
          </ul>
          <p><a href="/myblog/new/{{user_id}}/">Создать новый</a></p>
        </div>
    {% else %}
        <h2>You are NOT logged in :(</h2>
        <p>
            Hello stranger. You are not logged. Please follow the link to
            <a href="/" class="btn">login</a>!
        </p>
    {% endif %}
{% endblock %}