{% extends "base.html" %}
{% block title %}
  Страница пользователя
{% endblock %}

{% block body %}
  {% if user_id %}
    <h2>You are logged in :)</h2>
    <div id="menubar">
      <ul id="menu">
        <li class="selected"><a href="/blogs/">Блоги</a></li>
        <li><a href="/myblog/">Мои блоги</a></li>
        <li><a href="/user-info/">Настройки</a></li>
        <li><a href="/users-info/">Пользователи</a></li>
      </ul>
  </div>
  {% else %}
    <h2>You are NOT logged in :(</h2>
    <p>
        Hello stranger. You are not logged. Please follow the link to
        <a href="/" class="btn">login</a>!
    </p>
  {% endif %}

{% endblock %}
